<div class="mainTip"></div>


<div *ngIf="DATA" title="fanchart" rogue-title="fanchart" style="margin: 2px;">


    <svg xmlns="http://www.w3.org/2000/svg">
        <text class="title"  [style.font-size]="40*boxsizeH/900" [attr.x]="boxsizeH/2" [attr.y]="boxsizeV*9e-2">{{title}}</text>
        <g *ngFor="let plot of plotPath;let i =index" >
            <g>
                <path [attr.transform]="transform(0,0)" (mouseenter)="over($event,i,DATA.areas[i][0].legend,DATA.areas[i][1].legend,true)"    (mouseleave)="over($event,i)"              [attr.d]="plot" [style.fill]="DATA.areas[i][0].colour" class="path">
                    <title>{{"AREA"+i+": From "+DATA.areas[i][0].legend+" to "+DATA.areas[i][1].legend}}</title>
                </path>
            </g>
        </g>
        <g *ngFor="let lines of DATA.lines;let il=index">
            <g *ngFor="let points of lines.values;let i = index;">
                <g *ngIf="i>0" >
                    <line (mouseenter)="over($event,i,lines.legend,'',true)"    (mouseleave)="over($event,i)" [attr.class]="il===0?'lines m':'lines t'" [style.stroke]="lines.colour" [attr.x1]="plotPoints(i,lines.values,0)" [attr.x2]="plotPoints(i,lines.values,1)" [attr.y1]="plotPoints(i,lines.values,2)" [attr.y2]="plotPoints(i,lines.values,3)">
                         <title>{{lines.legend+" "+points}}</title>
                    </line>
                </g>
            </g>
        </g>
        <g *ngFor="let p of [1,2,3,4,5,6]">
            <g [attr.transform]="transform(scaleX((p-1)),scaleY.range()[0])">
                <text class="axis" [style.font-size]="18*boxsizeH/900" [attr.y]="25*boxsizeH/900" >Year {{p-1}}</text>
                <line  class="tick"  [attr.y1]="-10"></line>
            </g>
        </g>
        <g [attr.transform]="transform(scaleX.range()[0],scaleY.range()[0])">
            <line [attr.y1]="0" [attr.y2]="scaleY.range()[1]-scaleY.range()[0]" class="axis"></line>
            <line [attr.x2]="scaleX.range()[1]-scaleX.range()[0]" class="axis"></line>
        </g>
        <g *ngFor="let p of [1,2,3,4]">
            <g *ngIf="yNumber(p)<=maxY && yNumber(p)>=minY" [attr.transform]="transform(scaleX.range()[0],scaleY(yNumber(p)),-90)">
                <line  class="tick"  [attr.y1]="10"></line>
            </g>
            <g *ngIf="yNumber(p)<=maxY && yNumber(p)>=minY" [attr.transform]="transform(scaleX.range()[0],scaleY(yNumber(p)))">
                <text class="axis v" [style.font-size]="15*boxsizeH/900" [attr.x]="-15*boxsizeH/900" [attr.y]="5*boxsizeV/900">{{yNumber(p)}}</text>
            </g>
        </g>
    </svg>
</div>