rect.position {
    fill: none;
    stroke: #bbc8ce;
    stroke-width: 15px;
    opacity: 1;
}

line.lines {
    stroke-width: 3;
}

line.axis {
    stroke-width: 3;
    stroke: black;
}

line.tick {
    stroke-width: 2;
    stroke: black;
}

path {
    stroke-width: 3px;
    stroke: none;
}

text.axis {
    text-anchor: middle;
    font-size: 20px;
}

text.axis.v {
    text-anchor: end;
    font-size: 20px;
}

line.lines.m {
    stroke-width: 8;
}

line.lines.t {
    stroke-width: 5;
    stroke-dasharray: 6;
}

text.title {
    stroke: black;
    text-anchor: middle;
    font-size: 50px;
}

div.mainTip {
    background: rgb(7, 18, 24);
    color: white;
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 1px 5px 2px 5px;
    border: 8px;
    border-radius: 4px;
    bottom: inherit;
    box-shadow: 1px 1px 3px #222222;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
    pointer-events: none;
    overflow: none;
    z-index: 3;
    opacity: 0;
    margin-left: -2px;
    border-width: 2px;
    border-style: solid;
    border-color: orchid rgb(119, 247, 119) rgb(96, 96, 230) rgb(201, 81, 81);
}

div.mainTip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: groove;
    border-color: #555 transparent transparent transparent;
}

[rogue-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[rogue-title]:after {
    content: attr(rogue-title);
    background-color: #bbc8ce;
    color: black;
    font-size: 80%;
    height: 3%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: var(--xx);
    top: var(--yy);
    white-space: nowrap;
    box-shadow: 1px 1px 1px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}

[rogue-title] {
    position: relative;
}

svg {
    width: auto;
    height: auto;
}