<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings</title>
</head>



<div class="mainTip"></div>
<body title="Equity Volatility and Diversification" rogue-title="Equity Volatility and Diversification">
    <h1 style="text-align: center;text-transform: uppercase;">{{title}}</h1>
    <svg xmlns="http://www.w3.org/2000/svg" [attr.height]="boxsize/2" [attr.width]="boxsize">
        <g >
            <! -- text class="title" [attr.x]="boxsize/2" [attr.y]="boxsize*0.075" >{{title}}<! --/text>
            <rect class="position" [style.opacity]="squareBorderOpacity" [attr.width]="boxsize"
                [attr.height]="boxsize/2" [attr.x]="0" [attr.y]="0">
                <title>border set up</title>
            </rect>
            <g *ngFor="let xx of [0,0.5,1,1.5,2]">
                <text  [attr.x]="hscaleGraph(xx)" [attr.y]="vscaleGraph(0)">{{percentScale0(xx)}}</text>
            </g>
            <text class="leftleg" [attr.x]="hscaleGraph(-1e-1)" [attr.y]="vscaleGraph(2)">Current</text>
            <rect [style.fill]="'pink'" [attr.width]="hscaleGraph((data.current.pctEquityVol+data.current.weightedPctEquityVol)/100)-hscaleGraph(0)" [attr.height]="20" [attr.x]="hscaleGraph(0)" [attr.y]="vscaleGraph(2)">
                <title>{{"Total:"+(data.current.pctEquityVol+data.current.weightedPctEquityVol)}}</title>
            </rect>
            <rect [style.fill]="'orange'" [attr.width]="hscaleGraph(data.current.weightedPctEquityVol*1e-2)-hscaleGraph(0)" [attr.height]="20" [attr.x]="hscaleGraph(0)" [attr.y]="vscaleGraph(2)">
                <title>{{data.current.pctEquityVol}}</title>
            </rect>
            <text class="leftleg" [attr.x]="hscaleGraph(-1e-1)" [attr.y]="vscaleGraph(1)">Proposed</text>
            <rect [style.fill]="'pink'" [attr.width]="hscaleGraph((data.proposed.pctEquityVol+data.proposed.weightedPctEquityVol)/100)-hscaleGraph(0)" [attr.height]="20" [attr.x]="hscaleGraph(0)" [attr.y]="vscaleGraph(1)">
                <title>{{"Total:"+(data.proposed.pctEquityVol+data.proposed.weightedPctEquityVol)}}</title>
            </rect>
            <rect [style.fill]="'orange'" [attr.width]="hscaleGraph(data.proposed.weightedPctEquityVol*1e-2)-hscaleGraph(0)" [attr.height]="20" [attr.x]="hscaleGraph(0)" [attr.y]="vscaleGraph(1)">
                <title>{{data.proposed.pctEquityVol}}</title>
            </rect>
            <text class="leftleg" [attr.x]="hscaleGraph(2)+200" [attr.y]="vscaleGraph(1.3)">Portfolio</text>
            <text class="leftleg" [attr.x]="hscaleGraph(2)+200" [attr.y]="vscaleGraph(0.7)">Diverifised Risk</text>
            <rect [style.fill]="'orange'" [attr.x]="hscaleGraph(2)+200" [attr.y]="vscaleGraph(1.3)-10" [attr.width]="20" [attr.height]="20"></rect>
            <rect [style.fill]="'pink'" [attr.x]="hscaleGraph(2)+200" [attr.y]="vscaleGraph(0.7)-10" [attr.width]="20" [attr.height]="20"></rect>
        </g>
    </svg>
</body>
</html>