<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings</title>
</head>

<div class="mainTip"></div>

<body title="rankings" rogue-title="rankings">
    <svg xmlns="http://www.w3.org/2000/svg" [attr.height]="boxsize" [attr.width]="boxsize">
        <g [attr.transform]="'translate('+boxsize/2+','+boxsize/2+') rotate(0)'">
            <rect class="position" [style.opacity]="squareBorderOpacity" [attr.width]="boxsize" [attr.height]="boxsize" [attr.x]="-boxsize/2" [attr.y]="-boxsize/2">
                <title>border set up</title>
            </rect>
            <g *ngFor="let d of paths;let i = index">
                <path class="arc" (mouseenter)="over($event,i,true)" (mouseleave)="over($event,i)" [attr.d]="d" [attr.fill]="useColours[+portfolioData.rankingDistribution[i].ranking-1]" [style.opacity]="1/10">
                    <title >{{'index: '+i}}</title>
                </path>
                <text [attr.x]="centres[i][0]" [attr.y]="centres[i][1]">{{portfolioData.rankingDistribution[i].ranking}}</text>
            </g>
        </g>
        <text class="title" [attr.x]="boxsize/2-5*5" [attr.y]="boxsize*0.075">TITLE</text>
    </svg>
</body>

</html>