<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings</title>
</head>



<div class="mainTip"></div>

<body title="Ranking distribution" rogue-title="Ranking distribution">
    <svg xmlns="http://www.w3.org/2000/svg" [attr.height]="boxsize/2" [attr.width]="boxsize">
        <g >
            <rect class="position" [style.opacity]="squareBorderOpacity" [attr.width]="boxsize"
                [attr.height]="boxsize/2" [attr.x]="0" [attr.y]="0">
                <title>border set up</title>
            </rect>
        </g>
            
        <g *ngFor="let d of rankTotals;let i = index">
            <rect class="forgraph" [attr.width]="10" [attr.y]="vscaleGraph(0)-(Vrange[0]-vscaleGraph(d.totalPercent))" [attr.height]="(Vrange[0]-vscaleGraph(d.totalPercent))" [attr.x]="hscaleGraph(i)" >
                <title>{{'i:'+i+' rankings:'+d.id+' total percent:'+d.totalPercent}}</title>
            </rect>
            <g *ngFor="let data of rankTotals[i].data;let ii=index">
<rect [style.fill]="data.colour" [attr.width]="10" [attr.y]="vscaleGraph(0)-(Vrange[0]-0.99*vscaleGraph(data.runningPercent))" [attr.height]="(Vrange[0]-0.99*vscaleGraph(data.runningPercent))" [attr.x]="hscaleGraph(i)" >
    <title>{{'ii:'+ii+' rankings:'+data.ranking+' running value:'+data.runningPercent+'total%'+data.percent}}</title>
</rect>
            </g>
        </g>
    </svg>
</body>

</html>