<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings</title>
</head>



<div class="mainTip"></div>

<body title="Ranking distribution" rogue-title="Ranking distribution">
    <svg xmlns="http://www.w3.org/2000/svg" [attr.height]="boxsize/2" [attr.width]="boxsize">
        <g >
            <rect class="position" [style.opacity]="squareBorderOpacity" [attr.width]="boxsize"
                [attr.height]="boxsize/2" [attr.x]="0" [attr.y]="0">
                <title>border set up</title>
            </rect>
        </g>
        <g *ngFor="let d of [0,1,2,3,4,5,6,7,8,9,10]">
            <g *ngIf="(vscaleGraph(d/10)>boxsize/2*0.05)&&(vscaleGraph(d/10)<boxsize/2)" [attr.transform]="transform(hscaleGraph(-0.25),vscaleGraph(0)-(Vrange[0]-vscaleGraph(d/10)))">
            <text [attr.x]="-25">{{percentScale0(d/10)}}</text>
            <line class="lines"  [attr.y2]="vscaleGraph(0)-(Vrange[0]-vscaleGraph(d/10))-vscaleGraph(0)+(Vrange[0]-vscaleGraph(d/10))" [attr.x2]="hscaleGraph.range()[1]+10-hscaleGraph(-0.25)"></line> 
            </g>
        </g>
        <g *ngFor="let d of rankTotals;let i = index">
            <rect class="forgraph" [attr.width]="10" [attr.y]="vscaleGraph(0)-(Vrange[0]-vscaleGraph(d.totalPercent))" [attr.height]="(Vrange[0]-vscaleGraph(d.totalPercent))" [attr.x]="hscaleGraph(i+0.1)" >
                <title>{{'i:'+i+' rankings:'+d.id+' total percent:'+percentScale(d.totalPercent)}}</title>
            </rect>
            <text [attr.x]="hscaleGraph(i)" [attr.y]="vscaleGraph(0)-(Vrange[0]-vscaleGraph(0))+20">{{d.id}}</text>
            <g *ngFor="let dataItem of rankTotals[i].data.reverse()">
                <rect  class="assetpercent" (mouseenter)="over($event,dataItem,true)"  (mouseleave)="over($event,dataItem)"   [style.opacity]="1" [style.fill]="dataItem.colour" [attr.width]="10" [attr.y]="vscaleGraph(0)-(Vrange[0]-vscaleGraph(dataItem.runningPercent))" [attr.height]="(Vrange[0]-vscaleGraph(dataItem.runningPercent))" [attr.x]="hscaleGraph(i)" >
                    <title>{{dataItem.name+" "+percentScale(dataItem.percent)+" "+dataItem.id+" ranking "+dataItem.ranking}}</title>
                </rect>
                <g class="stockLegend" [attr.transform]="transform(hLedge(dataItem.id)+0*boxsize*0.24*(dataItem.id%2),vLedge(dataItem.id-0*dataItem.id%2))">
                    <rect class="stocklegend" [style.fill]="dataItem.colour" [attr.width]="20" [attr.x]="0" [attr.height]="(vLedge(1)-vLedge(0))*0.9" [attr.y]="-15">
                    <title> {{dataItem.name+"(asset"+dataItem.id+")"}}</title>
                    </rect>
                    <text  class="stocklegend" [attr.x]="30" [attr.y]="0">
                        {{dataItem.name}}
                    </text>
                </g>
            </g>
        </g>
    </svg>
</body>

</html>