svg {
    width: auto;
    height: auto;
}

rect.position {
    fill: none;
    stroke: rgb(187, 200, 206);
    stroke-width: 15px;
    opacity: 1;
}

rect.forgraph {
    fill: none;
}

line.lines {
    stroke: grey;
    stroke-width: 1px;
    stroke-dasharray: 2 2;
}

div.mainTip {
    background: rgb(7, 18, 24);
    color: white;
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 1px 5px 2px 5px;
    border: 8px;
    border-radius: 4px;
    bottom: inherit;
    box-shadow: 1px 1px 3px #222222;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
    pointer-events: none;
    overflow: none;
    z-index: 3;
    opacity: 0;
    margin-left: -2px;
    border-width: 2px;
    border-style: solid;
    transform: translate(-29.8%, -100%);
    border-color: orchid rgb(119, 247, 119) rgb(96, 96, 230) rgb(201, 81, 81);
}

div.mainTip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: groove;
    border-color: #555 transparent transparent transparent;
}

[rogue-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[rogue-title]:after {
    content: attr(rogue-title);
    background-color: #bbc8ce;
    color: black;
    font-size: 80%;
    --x: 70%;
    --y: 90%;
    height: fit-content;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: var(--xx);
    top: var(--yy);
    white-space: nowrap;
    box-shadow: 1px 1px 1px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}

[rogue-title] {
    position: relative;
}