<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings</title>
</head>

<div class="mainTip"></div>


<div class="mainTip"></div>

<body title="Ranking distribution" rogue-title="Ranking distribution">
    <svg xmlns="http://www.w3.org/2000/svg" [attr.height]="boxsize/2" [attr.width]="boxsize">
        <g [attr.transform]="'translate('+boxsize/2+','+boxsize/4+') rotate(0)'">
            <rect class="position" [style.opacity]="squareBorderOpacity" [attr.width]="boxsize" [attr.height]="boxsize/2" [attr.x]="-boxsize/2" [attr.y]="-boxsize/4">
                <title>border set up</title>
            </rect></g></svg></body>

</html>