<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>
</head>

<div class="mainTip"></div>
<div (mouseenter)="divover($event,title)" (mouseleave)="divover($event,title)"  id="histo" [title]="title" [attr.rogue-title]="title" style="margin: 2px;">
    <svg xmlns="http://www.w3.org/2000/svg">
        <g (mouseover)="divover($event,'title1',true)" (mouseleave)="divover($event)" >
            <title>title1</title>
            <text class="title" [style.font-size]="'large'" [attr.x]="boxsizeH/2" [attr.y]="boxsizeV*9e-2">{{title}}</text>
        </g>
        <g (mouseover)="divover($event,'Check the border',true)" (mouseleave)="divover($event)">
            <rect class="position"  [style.opacity]="squareBorderOpacity" [attr.width]="boxsizeH"
                [attr.height]="boxsizeV" [attr.x]="rim" [attr.y]="rim" >
                <title>Border check</title>
            </rect>
        </g>
    </svg>
</div>

</html>